/* Sticky footer styles
-------------------------------------------------- */
html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -70px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 70px;
}
#footer {
	text-align:center;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
#footer a {
	padding-left:8px;
	padding-right:8px;
}
.site-type {
	color:white;
	font-weight:normal;
	padding-top:13px;
}
.site-type-box {
	text-align:left;
}
#z-foot-text {
	padding-top:13px;  
}
.footer-phone {
	padding-top:5px;
}
.footer-phone i {
	padding-top:8px;
	font-size:20px;
}
/* End footer stuff*/

body {
	background-color: #eee;
}
#footer a {
	color: white;
}
#footer a:hover {
	color: #2790B0;
}
#z-info {
	color:white;
	margin-top:5px;
}

#title {
	text-align:center;
	background-image:url(http://zackmayeda.com/img/furley_bg.png);
	padding:10px;
	margin-top:25px;
	margin-bottom:25px;
	box-shadow:0 0 5px 3px black;
}

#title > h1 {
	text-shadow:2px 2px 2px gray;
}

#link1 {
	background:-webkit-linear-gradient(left,#3E4B51,#6F737E);
}

#link2 {
	background:-webkit-linear-gradient(left,#3E4B51,#89A09A);
}
.round-container {
	font-family:'Krona One',sans serif;
	margin-top: 10px;
	margin-bottom: 9px;
	width: 80px;/* 100 */
	height: 80px;/* 100 */
	border-radius: 40px;/* 50 */
	background: linear-gradient(top, #bbbbbb, #eeeeee);
	box-shadow: 0 -1px 1px #aaaaaa;
	margin-left: auto;
	margin-right: auto;
}
.home-button {
	display: block;
	cursor: pointer;
	backface-visibility: hidden;
	transition: transform 200ms ease-in;
	background: linear-gradient(top, #ffffff, #dddddd);
	background-color: #fff;
	box-shadow: 0 4px 6px #555555;
	position: absolute;
	text-align: center;
	color: rgb(85,85,85);
	font-size: 35px;/* 50 */
	line-height: 62px;/* 80 */
	margin: 10px;/* 10 */
	width: 60px;/* 80 */
	height: 60px;/* 80 */
	border-radius: 30px;/* 40 */
}
.home-button:hover {
	background-color: #eee;
	color: rgb(39,144,176);
	transform: rotate(-15deg) scale(0.9);
	text-decoration: none;
}
#color-row {
	min-height: 0px;
}
.gray-row {
	background-color: rgb(85,85,85);
	height: 5px;
}
.blue-row {
	background-color: #2790B0;
	height: 5px;
}
.light-gray-row {
	background-color: rgb(150,150,150);
	height: 5px;
}

/* Top only inner shadow */
/* box-shadow:inset 0px 20px 15px -15px black; */
/* Bottom only inner shadow */
/* box-shadow:inset 0px -15px 20px -15px black; */

.nav-button {
	text-align:center;
	font-weight:normal;
	font-size:1.5em;
	letter-spacing:3px;
	padding-left:8px;
	padding-right:8px;
	padding-top: 40px;
	padding-bottom:35px;
	margin-right:15px;
	display:inline-block;
	border-radius:0 0 10px 10px;
	color: rgb(85,85,85);
}
.nav-button:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,.1);
}
.nav-selected {
	background-color: rgba(0,0,0,.2);
	font-weight: bold;
}
.phone-nav {
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
.phone-nav div {
	display:inline;
	font-size:25px;
	margin:10px 10px 10px 10px;
	padding:5px 25px 5px 25px;
}
.phone-nav div:hover {
	background-color: rgba(0,0,0,.1);
	cursor: pointer;
}
.phone-nav .nav-selected {
	background-color: rgba(0,0,0,.2);
}
.visible-tablet .span12 {
	text-align: center;
}
.visible-tablet .nav-selected span {
	background-color: rgba(0,0,0,0);
}
.visible-tablet .nav-selected {
	background-color: rgba(0,0,0,0);
}

h3#normal {
	opacity:1; 
}

#darkblue {
	color:#2790B0;
}
#lightblue {
	color:#40C0CB;
}
#green {
	color:#8FBE00;
}
#lightgray {
	color:#4E4D4A;
}
#darkgray {
	color:#353432;
}

#page-title {
	text-align:center;
	font-size:3em;
	line-height:2em;
	background-color: rgb(80,80,80);
	/* background-image:url("../img/line-pattern.png"); */
	color:white;
	margin-bottom:25px;
	padding:10px;
	min-height:0px;
	opacity:.9;
}

.about, .work, .contact {
	display:none;
}
.active-content {

}
/* General Styles */
.full-row {
	margin-bottom:35px;
}
.plain-list {
	list-style-type: none;
}
.center {
	text-align:center;
}
.tab {
	margin-left:30px;
}
p.line {
	text-align: center;
	color: #767676;
}
p.line:before {
	border-top: 1px solid #878787;
	display: block;
	height: 10px;
	content: " ";
	width: 45%;
	position: relative;
	left: 0;
	top: 20px;
}
p.line:after {
	border-top: 1px solid #878787;
	display: block;
	height: 10px;
	content: " ";
	width: 45%;
	position: relative;
	top:-10px;
	left:55%;
}
.dark-bg {
	background-color: rgb(80,80,80);
}
/* Home Page Styles */
#main-hi {
	font-size: 5em;
	text-align:center;
	line-height: .8em;
}
#main-summary {
	font-weight:normal;
	text-align:center;
}
.blue {
	color:#2790B0;
	font-weight:bold;
}
.zack {
	font-size:9em;
	line-height:1em;
	letter-spacing:3px;
}
.extra-space {
	letter-spacing:12px;
}
#home-hello > span {
	text-shadow:1px 1px 0px #353432;
	font-size:26px;
	font-weight:bold;
	line-height:10px;
}
.nami-circle {
	background-image:url(http://zackmayeda.com/img/nami.png);
	background-color:white;
	opacity:.8;
	height:100px;
	width:200px;
	border-radius:0 0 100px 100px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.home-left {
	text-align:right;
	padding:15px;
	padding-top:60px;
}
.home-right {
	text-align:left;
	padding:15px;
	padding-top:60px;
}

/* About Page Styles */
.z-pic {
	width:150px;
	text-align:center;
	box-shadow:0px 0px 5px gray;
}
.link-title {
	text-align:center;
}
.border-sides {
	border-right:1px solid #BBBBBB;
	border-left:1px solid #BBBBBB;
}
.link-title-wide {
	text-align:center;
	color:white;
	font-size:2em;
	line-height:2.5em;
}
.link-box {
	padding-right:10px;
	padding-left:10px;
}
.z-title {
	font-size:2em;
	font-weight:bold;
}

.gadgets {
	font-size:2em;
}
.small-gadget {
	font-size:80%;
}
.big-gadget {
	font-size:120%;
}
/* Work Page Styles */
.work-text-light {
	padding:7px 15px 10px 25px;
	background-color: rgb(200,200,200);
}
.work-text-dark {
	padding:7px 15px 10px 25px;
	color:white;
	background-color: rgb(100,100,100);
}
#left-block {
	margin-right:0px;
}
#right-block {
	margin-left:0px;
}
.video {
	min-height:360px;
}
#img-container {
	height:100%;
}
.no-pad {
	padding:0px;
}
.pad {
	padding:20px;
}
/* Contact Page Styles */
#contact-list {
	list-style-type:none;
	text-align:left;
}
#contact-list > li {
	font-size:2em;
	margin-bottom:15px;
}
#contact-list > li > a > i {
	margin-right:10px;
}
#contact-list > li > a {
	color:#333333;
}
#contact-list > li > a:hover {
	color:#2790B0;
	text-decoration:none;
	text-shadow:1px 1px 1px #bbbbbb;
}
#contact-globe {
	font-size:15em;
	text-align:right;
	transition: transform 200ms ease-in;
}
#contact-globe:hover {
	display:inline-block;
	transform: scale(0.8);
}
/* Graphics Page */
#graphics-nav {
	border-radius: 0px 4px 4px 0px;
	padding: 5px;
	max-width: 200px;
}
.graphics-btn:hover, #graphics-nav .graphics-btn:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,.1);
}
#graphics-nav .graphics-btn {
	background-color: #D4E8ED;
	padding: 1px 5px 1px 5px;
	border-radius: 4px;
}
#graphics-nav div + div {
	margin-top: 5px;
}
#graphics-nav .graphics-btn.nav-selected {
	background-color: #B5C7CC;
}
.ray-page, .bez-page, .fluid-page {
	display: none;
}

/* RoomRight Page */
#rr-demo {
	min-width: 990px;
	margin-bottom: 20px;
}
.links-wrapper {
	padding-top: 10px;
	padding-bottom: 15px;
}

/* Error page styles */
.error-index {
	color:#333333;
}
.error-index:hover {
	text-decoration:none;
	color:#333333;
}
.error-box {
	font-size:35px;
	text-align:center;
	line-height:55px;
}
.error-box i {
	color:#97161d;
}
#error-pad {
	padding-bottom:9px;  
}