body {
  background-color: $lightBackground;
  margin: 0 0;
}

#home-map {
  z-index: 3;

  .map-overlay-content {
    z-index: 5;
  }

  .leaflet-map-pane {
    z-index: -1;
  }

  height: 100%;
  width: 100%;
  position: absolute;
  top: 38px;
  bottom: 0;

  &:hover {
    cursor: auto;
  }
}

section.homepage {
  margin-top: 45px;
  text-align: center;
}
.profile-img {
  border-radius: 5px;
  margin-bottom: 15px;
  float: left;
  margin-left: 150px;
}
.tagline {
  float: left;
  padding-top: 40px;
  padding-left: 25px;
  font-size: 1.2em;
}
.landing-img {
  display:inline-block;
  width: 30%;
  border-radius: 4px;
}
.landing-img:first-child, .landing-img:last-child {
  width: 23%; 
}
