
nav {
  background-color: $darkBackground;
  height: 80px;
  padding: 0px 70px;
  border-bottom: 3px solid $borderColor;

  img {
    height: 45px;
    padding-left: 25px;
    padding-top: 21px;
  }
  
  a {
    color: $darkBorderColor;
    font-size: 170%;
    font-weight: bold;
    margin-right: 50px;
    margin-top: 27px;
    float: right;

    &:hover {
      color: $darkBorderColor;
    }
    &:first-child {
      margin-left: 80px;
    }
  }
}

footer {
  display: block;
  position: relative;
  bottom: 0px;
  text-align: center;
  width: 100%;

  img {
    width: 20px;
    padding: 10px 0px;
    opacity: .3;
}
}
