.pt-page.about
	.row-fluid.full-row
		.span1
		.span2(style='text-align: center;')
			img.img-rounded.z-pic(src='dist/img/z.jpg', alt='Boku')
		.span1
		.span4
			.center
				h3.z-title Zack
				small in one sentence
			br
			span.tab.
				I'm an Electrical Engineering and Computer Science student at UC Berkeley who enjoys many aspects of programming / computers / technology, but also likes running, camping, cooking, and piano.
	p.block-line
	.row-fluid
		.span4.offset4
			h4.center Interests
			.row-fluid
				.span8.offset2
					ul
						li
							| web dev - frontend
							ul
								li HTML, Jade
								li CSS, Sass, Stylus
								li Javascript, CoffeeScript, jQuery
						li
							| web dev - backend
							ul
								li Rails
								li node.js
						li education & technology
						li efficiency and organizational tools
						li learning new technologies/frameworks
						li solving mundane problems programmatically
						li lists
	br
	.row-fluid
		.span12.link-title-wide Some Stuff I Like
	.row-fluid.full-row
		.span1
		.span3.link-box
			h3.lead.link-title Programming Stuff
			ul
				li
					a(href='http://codepen.io') codepen
					| - a cool site to whip up websites and HTML/CSS/JS gadgets
				li
					a(href='http://obadger.com/turtle/') turtle drawing
					| - clean online implementation of turtle drawing
				li
					a(href='http://gruntjs.com') Grunt.js
					| - makes web dev so much nicer
				li
					a(href='http://thenews.im') the News
					| - hacker news & designer news together. but prettier
		.span4.link-box
			h3.lead.link-title Fun Stuff
			.border-sides
				ul
					li
						a(href='http://splitwise.com') splitwise
						| - an EXTREMELY helpful way to split rent, expenses, etc
					li
						a(href='http://billable.me/') billable
						| - easily make invoices online in 2 seconds
					li
						a(href='http://tomhaverfoods.com') tom haverfoods
						| - this speaks for itself
					li
						a(href='http://hipsum.co/') hipster lorem ipsum
						| - for when you need filler text and you're feeling like a hipster
					li
						a(href='http://yummly.com/') Yummly
						| - just the best recipe site on the planet
		.span3.link-box
			h3.lead.link-title Design Stuff
			ul
				li
					a(href='http://subtlepatterns.com/') subtlepatterns
					| - collection of clean, sleek, and free patterns for websites
				li
					a(href='http://purecss.io') Pure
					| - a simple front-end framework for web dev
				li
					a(href='http://fortawesome.github.com/Font-Awesome/') font awesome
					| - icons that go along with Bootstrap very well
				li
					a(href='http://colourlovers.com') colourlovers
					| - color palettes and patterns
				li
					a(href='http://tympanus.net/codrops/') Codrops
					| - articles on web elements. i didn't know the web could be this beautiful
