.pt-page.contact
	.row-fluid
		.span12.contact-globe
			i.fa.fa-globe.hidden-phone
	.row-fluid
		.span12.center
			ul.contact-list
				li
					a(href='mailto:z@zackmayeda.com')
						i.fa.fa-envelope
				li
					a(href='http://www.facebook.com/zack.mayeda')
						i.fa.fa-facebook
				li
					a(href='http://www.linkedin.com/in/zackmayeda')
						i.fa.fa-linkedin
				li
					a(href='http://github.com/zackm')
						i.fa.fa-github
				li
					a(href='https://www.flickr.com/photos/zackmayeda/')
						i.fa.fa-flickr

			a(href='http://blog.zackmayeda.com', class='contact-link') blog