.pt-page.contact
	.row-fluid
		.span12.contact-globe
			i.icon-globe.hidden-phone
	.row-fluid
		.span12.center
			ul.contact-list
				li
					a(href='mailto:z@zackmayeda.com')
						i.icon-envelope
				li
					a(href='http://www.facebook.com/zack.mayeda')
						i.icon-facebook
				li
					a(href='http://www.linkedin.com/in/zackmayeda')
						i.icon-linkedin
				li
					a(href='http://github.com/zackm')
						i.icon-github
				li
					a(href='https://plus.google.com/106934976931731891003/about')
						i.icon-google-plus
