#footer.dark-bg
	.container
		.row-fluid
			.span8.offset2
				#z-foot-text
					a(href='http://www.facebook.com/zack.mayeda') facebook
					a(href='http://www.linkedin.com/in/zackmayeda') linkedin
					a(href='http://github.com/zackm') github
					a(href='https://plus.google.com/106934976931731891003/about') google+
					a(href='mailto:z@zackmayeda.com') email
					p.info
						i.icon-smile
