#footer.dark-bg
	.container
		.row-fluid
			.span8.offset2
				#z-foot-text
					a(href='http://www.facebook.com/zack.mayeda') facebook
					a(href='http://www.linkedin.com/in/zackmayeda') linkedin
					a(href='http://github.com/zackm') github
					a(href='http://blog.zackmayeda.com') blog
					a(href='https://www.flickr.com/photos/zackmayeda/') flickr
					a(href='mailto:z@zackmayeda.com') email
					p.info
						i.fa.fa-star-o
