.pt-page.home
	.row-fluid
		.span8.offset2
			h1.hi.lead Hi Interwebs
			p.block-line
				h4.summary.
					my name is Zack and I'm an electrical engineering
					and computer science student at UC Berkeley
				p.wait please take a look around while I think of something to put here...
