.pt-page.home.pt-page-current
	.row-fluid
		.loading-spinner
		include loader_style
		.span8.offset2#loading-hide

			h1.hi#welcome-title Hello there!
			p.block-line
				h4.summary.
					my name is Zack and I'm a software engineer in the Bay Area
				p.view please take a look around my site, or take a look at my 
					a(href='http://blog.zackmayeda.com',) blog