.pt-page.home.pt-page-current
	.row-fluid
		.span8.offset2
			h1.hi#welcome-title Hello there!
			p.block-line
				h4.summary.
					my name is Zack and I'm an electrical engineering
					and computer science student at UC Berkeley
				p.view please take a look around my site, or take a look at my 
					a(href='http://blog.zackmayeda.com',) blog