.nav-menu.row-fluid
	#logo.span2.center.offset5
		.long-shadow.nav-link.round-container(data-animation='40', data-page='home')
			span.home-button Z
	nav
		a.nav-link.nav-special(href='#', data-animation='40', data-page='about') ABOUT
		a.nav-link.nav-special(href='#', data-animation='40', data-page='work') WORK
		a.nav-link.nav-special(href='#', data-animation='40', data-page='contact') CONTACT
