.pt-page.work
	.row-fluid.full-row
		.span4.offset2.work-text-dark
			h3 Recipe Web App for a Nonprofit
			p ~~~ in progress ~~~
			ul
				li
					| created a recipe management system for a nonprofit, the 
					a(href='http://sagegardenproject.org') Sage Garden Project
				li allows admin to create recipes
				li facilitates search of database with numerous parameters
				li
					| hosted on Heroku with several addons including: New Relic, Cloudinary, Loggly, and Postgres
				li Rails/HTML/Sass/Coffeescript/jQuery
			p
				a.btn-custom(href='http://sagegardenproject.herokuapp.com')
					i.icon-chevron-sign-right
					| Visit the Site
		.span4
			img(src='dist/img/recipes.jpg', alt='Recipe Site, in progress')
	.row-fluid.full-row
		.span4.offset2.work-text-light
			h3 Cal Steel Bridge Team
			p ~~~ in progress ~~~
			ul
				li redesigned the website for UC Berkeley's Steel Bridge Competition team
				li
					| thoroughly documented file structure and build system for continued development in the future
				li HTML/Sass/Javascript/Grunt.js
			p
				a.btn-custom(href='http://zackm.github.io/SteelBridgeRevamp')
					i.icon-chevron-sign-right
					| Visit the Site
		.span4
			img(src='dist/img/bridge.jpg', alt='Steel Bridge Website')
	.row-fluid.full-row
		.span4.offset2.work-text-dark
			h3 RoomRight - Web App
			ul
				li Semester project for CS169: Software Engineering
				li Group project consisting of 5 programmers and 5 business students
				li developed in an iterative process, with 4 sprints
				li A Rails app that was deployed on Heroku
				li Ruby on Rails, HTML, CSS, JS, jQuery, Bootstrap
			a.btn-custom(href='rr-demo.html')
				i.icon-chevron-right
				| View Demo
		.span4
			img(src='dist/img/rr.jpg', alt='RoomRight, a school project')
	.row-fluid.full-row
		.span4.offset2.work-text-light
			h3 Fluid Simulation
			ul
				li
					| Project created with 
					a(href='https://github.com/TylerBrabham') Tyler Brabham
				li Final project for CS184: Computer Graphics
				li
					| Simulation using smoothed particle hydrodynamics, marching cubes, and ray marching
				li Written in C++ with OpenGL, FreeImage, and Glut
		.span4
			iframe(width='640', height='360', src='http://www.youtube.com/embed/oogV7GYl630', frameborder='0', allowfullscreen='')
	.row-fluid.full-row
		.span4.offset2.work-text-dark
			h3 Computer Graphics Projects
			ul
				li Additional pictures and videos for computer graphics projects
				li
					| Projects include a raytracer, bezier surface renderer, and the above fluid simulation
				li
					| All projects created with 
					a(href='https://github.com/TylerBrabham') Tyler Brabham 
					| for CS184
			a.btn-custom(href='graphics.html')
				i.icon-chevron-right
				| View
		.span4
			img(src='dist/img/graphics.jpg', alt='Computer Graphics Projects')
	.row-fluid.full-row
		.span4.offset2.work-text-light
			h3 Gordy's Bakery Website
			ul
				li
					| website initially created with Adobe GoLive, Photoshop, and Illustrator and now being maintained with HTML/CSS/JS
				li optimized for search engines
				li integrated website with social networks, including a facebook widget
				li set up google analytics to track web traffic
			p
				a.btn-custom(href='http://gordysbakery.com')
					i.icon-chevron-sign-right
					| Visit the site
		.span4
			img(src='dist/img/bakery.png', alt="Gordy's Bakery Website")
	.row-fluid.full-row
		.span4.offset2.work-text-dark
			h3 My Website
			ul
				li based on Bootstrap responsive grid system
				li HTML/Jade/Stylus/JS/jQuery/Grunt.js
				li
					| Responsive iframes with 
					a(href='https://github.com/toddmotto/fluidvids') fluidvids.js
				li
					| it's a continued work in progress (I always like to update things and test out new libraries/styles/designs)
		.span4
			div
				img(src='dist/img/zsite.jpg', alt='My Website')
	.row-fluid.full-row
		.span4.offset2.work-text-light
			h3 Pacman AI
			ul
				li
					| demonstration of my Pacman Q-Learning Agent made for CS188: Introduction to Artificial Intelligence
				li Pacman game framework and graphics made by instructors
				li Written in Python
		.span4
			iframe(width='480', height='360', src='http://www.youtube.com/embed/CnuaOBK_irI?rel=0', frameborder='0', allowfullscreen='allowfullscreen')
	.row-fluid.full-row
		.span4.offset2.work-text-dark
			h3 EEG
			ul
				li
					| designed an 
					a(href='http://en.wikipedia.org/wiki/Electroencephalography') EEG 
					| for a circuits class
				li
					| my partner and I drew the layout of the components and connections with CAD software
				li the design was sent to a manufacturer
				li
					| we received the physical circuit board a few weeks later and put it together, and it worked!
		.span4
			div
				img(src='dist/img/eeg.jpg', alt='an EEG class project')
	.row-fluid.full-row
		.span4.offset2.work-text-light
			h3 More to come!
			ul
				li I'm currently working on some other projects, but they're not ready yet!
				li
					| Feel free to check out my 
					a(href='http://github.com/zackm') github 
					| as well
		.span4
			div
				img(src='dist/img/code1cool.jpg', alt='coding, coding, coding...')
