/* About Page Styles */
secondary_green = darken(dark_green, 25%)
.about
	background-color dark_green

	a
		color lighten(light_green, 30%)

		&:hover
			color lighten(light_green, 45%)

	h3
	h4
		color darken(dark_green, 45%)

	.block-line
		background-color secondary_green

	.z-pic 
		width 150px
		text-align center

	.link-title 
		text-align center

	.border-sides 
		border-right 5px solid secondary_green
		border-left 5px solid secondary_green

	.link-title-wide
		background-color #ecf0f1
		text-align center
		color secondary_green
		font-size 2em
		line-height 2.5em

	.link-box 
		padding-right 10px
		padding-left 10px

	.z-title 
		font-size 2em
		font-weight bold
		margin 0
		padding-left 5px

	small
		padding-left 5px
		color darken(dark_green, 45%)
