/* About Page Styles */
.about
	background-color dark_green

	.block-line
		background-color darken(dark_green, 25%)

	.z-pic 
		width 150px
		text-align center
		box-shadow 0px 0px 5px gray

	.link-title 
		text-align center

	.border-sides 
		border-right 1px solid #BBBBBB
		border-left 1px solid #BBBBBB

	.link-title-wide
		background-color #ecf0f1
		text-align center
		color #27ae60
		font-size 2em
		line-height 2.5em

	.link-box 
		padding-right 10px
		padding-left 10px

	.z-title 
		font-size 2em
		font-weight bold
