turquoise = #1abc9c
dark_turquoise = #16a085

light_green = #2ecc71
dark_green = #27ae60

light_blue = #3498db
dark_blue = #2980b9

light_purple = #9b59b6
dark_purple = #8e44ad

blue_gray = #34495e
dark_blue_gray = #2c3e50

light_gray = #ecf0f1
med_light_gray = #bdc3c7

med_dark_gray = #95a5a6
dark_gray = #7f8c8d

error_red = #c0392b
