/* Contact Page Styles */
.contact
	background-color dark_turquoise
	color #ecf0f1

	a
		color light_gray

		&:hover
			color darken(dark_turquoise, 30%)
			text-decoration none

	.contact-list 
		list-style-type none
		text-align left

		li 
			font-size 2em
			margin-bottom 15px

	.contact-globe 
		font-size 15em
		text-align right
