/* Contact Page Styles */
.contact
	background-color dark_turquoise
	color #ecf0f1

	a
		color light_gray

		&:hover
			text-decoration none

	a.blog-link
		color white
		font-size 1.6em

		&:hover
			text-decoration underline

	.contact-list
		list-style-type none
		margin-left auto
		margin-right auto
		text-align center

		li
			display inline-block
			a
				background-color darken(dark_turquoise, 10%)
				display block
				font-size 2em
				height 60px
				margin-bottom 15px
				padding-top 16px
				width 60px

				&:hover
					background-color darken(dark_turquoise, 20%)
					color darken(dark_turquoise, 50%)

	.contact-globe
		font-size 25em
		height 245px
		overflow hidden
		text-align center
