/* Contact Page Styles */
#contact-list 
	list-style-type:none
	text-align:left

#contact-list > li 
	font-size:2em
	margin-bottom:15px

#contact-list > li > a > i 
	margin-right:10px

#contact-list > li > a 
	color:#333333

#contact-list > li > a:hover 
	color:#2790B0
	text-decoration:none
	text-shadow:1px 1px 1px #bbbbbb

#contact-globe 
	font-size:15em
	text-align:right
	transition: transform 200ms ease-in

#contact-globe:hover 
	display:inline-block
	transform: scale(0.8)
