.error-body
	background-color error_red

	.static-nav
		z-index 1


.error
	color white
	margin-top 66px
	padding-top 80px

	.error-box
		z-index 2

		.smaller
			font-size .8em

	.remove-wrapper
		overflow hidden
		z-index 0

	.icon-remove-sign
		color darken(error_red, 15%)
		font-size 25em
		position absolute
		top 0px
		left 300px
		z-index -1

	a
		color lighten(error_red, 45%)

		&:hover
			color lighten(error_red, 65%)

.error-index
	color #333333

.error-index:hover
	text-decoration none
	color #333333

.error-box
	font-size 35px
	text-align center
	line-height 55px

.error-box i
	color #97161d

#error-pad
	padding-bottom 9px