/* Graphics Page */
#graphics-nav 
	border-radius: 0px 4px 4px 0px
	padding: 5px
	max-width: 200px

.graphics-btn:hover, #graphics-nav .graphics-btn:hover 
	cursor: pointer
	background-color: rgba(0,0,0,.1)

#graphics-nav .graphics-btn 
	background-color: #D4E8ED
	padding: 1px 5px 1px 5px
	border-radius: 4px

#graphics-nav div + div 
	margin-top: 5px

#graphics-nav .graphics-btn.nav-selected 
	background-color: #B5C7CC

.ray-page, .bez-page, .fluid-page 
	display: none
