/* Home Page Styles */
.home
	background-color dark_blue

	.block-line
		background-color darken(dark_blue, 25%)

	.wait
		color lighten(light_blue, 35%)
		font-size 1.4em
		padding-top 100px
		text-align center

	h1.hi 
		color darken(dark_blue, 25%)
		font-weight bold
		font-size 5em
		margin-bottom 12px
		margin-left -5px

	.summary 
		font-weight normal
		text-align center

	.zack 
		font-size 9em
		line-height 1em
		letter-spacing 3px

	.extra-space 
		letter-spacing 12px

	#home-hello > span 
		text-shadow 1px 1px 0px #353432
		font-size 26px
		font-weight bold
		line-height 10px

	.home-left 
		text-align right
		padding 15px
		padding-top 60px

	.home-right 
		text-align left
		padding 15px
		padding-top 60px
