/* Home Page Styles */
.home
	.block-line
		background-color darken(dark_blue, 25%)

	#main-hi 
		font-size 5em
		text-align center
		line-height .8em

	#main-summary 
		font-weight normal
		text-align center

	.zack 
		font-size 9em
		line-height 1em
		letter-spacing 3px

	.extra-space 
		letter-spacing 12px

	#home-hello > span 
		text-shadow 1px 1px 0px #353432
		font-size 26px
		font-weight bold
		line-height 10px

	.home-left 
		text-align right
		padding 15px
		padding-top 60px

	.home-right 
		text-align left
		padding 15px
		padding-top 60px
