/* Home Page Styles */
#main-hi 
	font-size: 5em
	text-align:center
	line-height: .8em

#main-summary 
	font-weight:normal
	text-align:center

.blue 
	color:#2790B0
	font-weight:bold

.zack 
	font-size:9em
	line-height:1em
	letter-spacing:3px

.extra-space 
	letter-spacing:12px

#home-hello > span 
	text-shadow:1px 1px 0px #353432
	font-size:26px
	font-weight:bold
	line-height:10px

.nami-circle 
	background-image:url(http://zackmayeda.com/img/nami.png)
	background-color:white
	opacity:.8
	height:100px
	width:200px
	border-radius:0 0 100px 100px
	text-align:center
	margin-left:auto
	margin-right:auto

.home-left 
	text-align:right
	padding:15px
	padding-top:60px

.home-right 
	text-align:left
	padding:15px
	padding-top:60px
