/* Sticky footer styles */
/* The html and body elements cannot have any padding or margin. */
html,body
	height 100%

body 
	background-color light_gray

/* Wrapper for page content to push down footer */
#pt-main
	height auto !important
	height 100%
	/* Negative indent footer by it's height */
	margin 0 auto 70px
	min-height 100%

/* Set the fixed height of the footer here */
#push,
#footer 
	height: 70px

#footer 
	background-color light_gray
	padding-top 12px
	text-align center
	color med_dark_gray
	font-size 90%

	a
		color med_dark_gray
		padding-left 8px
		padding-right 8px

		&:hover
			color #2790B0

	.info
		margin-top 5px

	.footer-phone 
		padding-top 5px

	.footer-phone i 
		font-size 20px
		padding-top 8px

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) 
	#footer 
		margin-left: -20px
		margin-right: -20px
		padding-left: 20px
		padding-right: 20px

// Nav
.nav-menu
	position absolute
	top 0px

	nav
		a.nav-link
			color #7f8c8d
			&.nav-selected 
				color #3498db
				&::before
					position absolute
					top 100%
					left 0
					width 100%
					height 4px
					background light_blue
					content ''

	&.static-nav
		background-color light_gray
		height 66px

	// Z Circle Button
	.round-container 
		border-radius 40px
		height 80px
		margin-bottom 9px
		margin-top 18px
		margin-left auto
		margin-right auto
		overflow hidden
		width 80px

	// Ridiculous long shadow css
	.long-shadow
		text-shadow rgb(47, 137, 197) 1px 1px,
			rgb(47, 137, 197) 2px 2px,
			rgb(47, 137, 197) 3px 3px,
			rgb(47, 137, 197) 4px 4px,
			rgb(47, 137, 197) 5px 5px,
			rgb(47, 137, 197) 6px 6px,
			rgb(47, 137, 197) 7px 7px,
			rgb(47, 137, 197) 8px 8px,
			rgb(47, 137, 197) 9px 9px,
			rgb(47, 137, 197) 10px 10px,
			rgb(47, 137, 197) 11px 11px,
			rgb(47, 137, 197) 12px 12px,
			rgb(47, 137, 198) 13px 13px,
			rgb(47, 138, 199) 14px 14px,
			rgb(47, 139, 200) 15px 15px,
			rgb(48, 140, 201) 16px 16px,
			rgb(48, 141, 203) 17px 17px,
			rgb(48, 142, 204) 18px 18px,
			rgb(48, 142, 205) 19px 19px,
			rgb(49, 143, 206) 20px 20px,
			rgb(49, 144, 208) 21px 21px,
			rgb(49, 145, 209) 22px 22px,
			rgb(50, 146, 210) 23px 23px,
			rgb(50, 147, 211) 24px 24px,
			rgb(50, 147, 212) 25px 25px,
			rgb(50, 148, 214) 26px 26px,
			rgb(51, 149, 215) 27px 27px,
			rgb(51, 150, 216) 28px 28px,
			rgb(51, 151, 217) 29px 29px,
			rgb(52, 152, 219) 30px 30px
		height 60px
		width 60px
		font-size 75px
		text-align center

	.home-button 
		backface-visibility hidden
		background-color light_blue
		border-radius 30px
		color white
		cursor pointer
		display block
		font-size 45px
		font-weight bold
		height 60px
		line-height 60px
		overflow hidden
		position absolute
		text-align center
		transition transform 200ms ease-in,
			color 200ms ease
		width 60px

	.home-button:hover 
		background-color lighten(light_blue, 15%)
		text-decoration none
		transform rotate(-15deg) scale(0.9)
