/* Sticky footer styles */
/* The html and body elements cannot have any padding or margin. */
html,body
	height 100%

body 
	background-color #eee

/* Wrapper for page content to push down footer */
#pt-main
	height auto !important
	height 100%
	/* Negative indent footer by it's height */
	margin 0 auto 70px
	min-height 100%

/* Set the fixed height of the footer here */
#push,
#footer 
	height: 70px

#footer 
	background-color: #7f8c8d
	padding-top 12px
	text-align:center

	a
		color: white
		padding-left:8px
		padding-right:8px

		&:hover
			color: #2790B0

	.info 
		color:white
		margin-top:5px

	.footer-phone 
		padding-top:5px

	.footer-phone i 
		font-size:20px
		padding-top:8px

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) 
	#footer 
		margin-left: -20px
		margin-right: -20px
		padding-left: 20px
		padding-right: 20px

// Nav
.nav-menu
	position: absolute
	top: 0px
	
	// Z Circle Button
	.round-container 
		background: linear-gradient(top, #bbbbbb, #eeeeee)
		border-radius: 40px/* 50 */
		box-shadow: 0 -1px 1px #aaaaaa
		font-family:'Krona One',sans serif
		height: 80px/* 100 */
		margin-bottom: 9px
		margin-top: 10px
		margin-left: auto
		margin-right: auto
		width: 80px/* 100 */

	.home-button 
		backface-visibility: hidden
		background: linear-gradient(top, #ffffff, #dddddd)
		background-color: #fff
		border-radius: 30px/* 40 */
		box-shadow: 0 4px 6px #555555
		color: rgb(85,85,85)
		cursor: pointer
		display: block
		font-size: 35px/* 50 */
		height: 60px/* 80 */
		line-height: 62px/* 80 */
		margin: 10px/* 10 */
		position: absolute
		text-align: center
		transition: transform 200ms ease-in
		width: 60px/* 80 */

	.home-button:hover 
		background-color #eee
		color #3498db
		text-decoration none
		transform rotate(-15deg) scale(0.9)

	nav
		a.nav-link
			color #7f8c8d
			&.nav-selected 
				color #3498db
