// For Page Transitions
@import 'animations.css'
@import 'component.css'

// For Link Effects
@import 'links.css'

// Libraries
@import 'bootstrap.min.css'
@import 'bootstrap-responsive.min.css'
@import 'font-awesome.min.css'

// My Stuff
@import 'colors'
@import 'layout'
@import 'home'
@import 'about'
@import 'work'
@import 'contact'
@import 'graphics'
@import 'rr-demo'
@import 'error'

/* General Styles */
.full-row
	margin-bottom 35px

.plain-list
	list-style-type none

.center
	text-align center

.tab
	margin-left 30px

.block-line
	height 12px

.pt-page
	padding-top 20px
	margin-top 65px

// Buttons
.btn-custom
	display inline-block
	padding 4px 10px
	margin-bottom 0
	font-size 14px
	font-weight normal
	line-height 1.428571429
	text-align center
	white-space nowrap
	vertical-align middle
	cursor pointer
	background-image none
	border 1px solid transparent
	border-radius 4px

	&:hover
		text-decoration none
