// For Page Transitions
@import 'animations.css'
@import 'component.css'

// For Link Effects
@import 'links.css'

// Libraries
@import 'bootstrap.min.css'
@import 'bootstrap-responsive.min.css'
@import 'font-awesome.min.css'

// My Stuff
@import 'colors'
@import 'layout'
@import 'home'
@import 'about'
@import 'work'
@import 'contact'
@import 'graphics'

/* General Styles */
.full-row 
	margin-bottom:35px

.plain-list 
	list-style-type: none

.center 
	text-align:center

.tab 
	margin-left:30px

.block-line
	height 12px

p.line 
	text-align: center
	color: #ccc

p.line:before 
	border-top: 1px solid #ccc
	display: block
	height: 10px
	content: " "
	width: 45%
	position: relative
	left: 0
	top: 20px

p.line:after 
	border-top: 1px solid #ccc
	display: block
	height: 10px
	content: " "
	width: 45%
	position: relative
	top:-10px
	left:55%

.dark-bg 
	background-color: rgb(80,80,80)

.pt-page 
	padding-top: 20px
	margin-top: 65px

/* Page Colors */
.home 
	background-color: #2980b9

.about 
	background-color: #27ae60

.work 
	background-color: #34495e

.contact 
	background-color: #16a085

/* RoomRight Page */
#rr-demo 
	min-width: 990px
	margin-bottom: 20px

.links-wrapper 
	padding-top: 10px
	padding-bottom: 15px

/* Error page styles */
.error-index 
	color:#333333

.error-index:hover 
	text-decoration:none
	color:#333333

.error-box 
	font-size:35px
	text-align:center
	line-height:55px

.error-box i 
	color:#97161d

#error-pad 
	padding-bottom:9px  
