nav {
  background-color:white;
  height: 80px;
  padding: 0px 70px;
}
nav img {
  height: 45px;
  padding-left: 25px;
  padding-top: 21px;
}

nav a {
  color: #506A85;
  font-size: 170%;
  font-weight: bold;
  margin-right: 50px;
  margin-top: 27px;
  float: right;
}
nav a:hover {
  
}
nav a:first-child {
  margin-left: 80px;
}

body {
  background-color: #ECF0F1;
  margin: 0 0;
}

section.homepage {
  margin-top: 45px;
  text-align: center;
}
.profile-img {
  border-radius: 5px;
  margin-bottom: 15px;
  float: left;
  margin-left: 150px;
}
.tagline {
  float: left;
  padding-top: 40px;
  padding-left: 25px;
  font-size: 1.2em;
}
.landing-img {
  display:inline-block;
  width: 30%;
  border-radius: 4px;
}
.landing-img:first-child, .landing-img:last-child {
  width: 23%; 
}


footer {
  display: block;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
}

footer img {
  width: 20px;
  padding: 10px 0px;
  opacity: .3;
}
