/* Work Page Styles */
.work
	padding-top 100px // need to add more here

	.work-text-light 
		padding 7px 15px 10px 25px
		background-color rgb(200,200,200)

	.work-text-dark 
		padding 7px 15px 10px 25px
		color white
		background-color rgb(100,100,100)

	#left-block 
		margin-right 0px

	#right-block 
		margin-left 0px

	.video 
		min-height 360px

	#img-container 
		height 100%

	.no-pad 
		padding 0px

	.pad 
		padding 20px
