/* Work Page Styles */
.work
	background-color blue_gray
	padding-top 100px // need to add more here

	h3
		margin-bottom: 20px;
		font-size: 21px;
		font-weight: 200;
		line-height: 30px;

	.work-text-light 
		background-color med_light_gray
		color dark_blue_gray
		padding 7px 15px 10px 25px

	.work-text-dark 
		background-color dark_blue_gray
		color light_gray
		padding 7px 15px 10px 25px

	#left-block 
		margin-right 0px

	#right-block 
		margin-left 0px

	.video 
		min-height 360px

	#img-container 
		height 100%

	.no-pad 
		padding 0px

	.pad 
		padding 20px
