---
title: Find Zack Mayeda on the interwebs
---

%p
  zackmayeda@gmail.com
%p
  facebook
%p
  sometimes I put photos on Instagram
%p
  I rarely tweet stuff
%p
  occasionally put photos on Flickr
%p
  frequently add code on Github
%p
  very rarely blog
%p
  ugh, LinkedIn
