---
title: Zack Mayeda
---

%section.homepage#home-map
  .map-overlay-content
    %div
      / %img.landing-img{:src => "https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-15/10632249_856357327730291_347262631_n.jpg", :alt => ""}
      / %img.landing-img{:src => "https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/914722_485684118200044_575555651_n.jpg", :alt => ""}
      / %img.landing-img{:src => "https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xpf1/t51.2885-15/1662353_1418252761751295_2087120983_n.jpg", :alt => ""}
    %br
    %div
      %h1 Cook • Camp • Code
    %div
      %img.profile-img{:src => "http://graph.facebook.com/100001231271210/picture?type=square&width=100", :alt => ""}/
      %p.tagline I'm a software engineer in the bay area that enjoys spending some time completely away from computers
    .clearfix

    %div.github-info
      %h3 Github Info (public repos)
      %span.total-commits
      •
      %span.longest-streak
      •
      %span.current-streak
