---
title: Stuff made by Zack Mayeda
---

%section
  .row-fluid
    .span5.offset1
      %h2 Sage Garden Project
      %ul
        %li
          created a recipe management system for a nonprofit, the 
          %a{:href => 'http://sagegardenproject.org'} Sage Garden Project
        %li allows admin to create recipes
        %li facilitates search of database with numerous parameters
        %li
          hosted on Heroku with several addons including: New Relic, Cloudinary, Loggly, and Postgres
        %li Rails/HTML/Sass/Coffeescript/jQuery
      %p
        %a.outline-link(href='http://sagegardenproject.herokuapp.com')
          Visit the Site

    .span3.offset1
      %img{:src => "images/sage_fullsize.jpg", :alt => "Sage Garden Site"}

  .row-fluid
    .span5.offset1
      %h2 Cal Steel Bridge Team
      %ul
        %li redesigned the website for UC Berkeley's Steel Bridge Competition team
        %li
          thoroughly documented file structure and build system for continued development in the future
        %li HTML/Sass/Javascript/Grunt.js
      %p
        %a.outline-link(href='http://zackm.github.io/SteelBridgeRevamp')
          Visit the Site
    .span3.offset1
      %img{:src => "images/bridge_fullsize.jpg", :alt => "Cal Steel Bridge Site"}/

  .row-fluid
    .span5.offset1
      %h3 RoomRight - Web App
      %ul
        %li Semester project for CS169: Software Engineering
        %li Group project consisting of 5 programmers and 5 business students
        %li developed in an iterative process, with 4 sprints
        %li A Rails app that was deployed on Heroku
        %li Ruby on Rails, HTML, CSS, JS, jQuery, Bootstrap
      %a.outline-link{:href => 'rr-demo.html'}
        View Demo
    .span3.offset1
      %img{:src => 'images/rr.jpg', :alt => 'RoomRight, a school project'}

  .row-fluid
    .span5.offset1
      %h3 Fluid Simulation
      %ul
        %li
          Project created with 
          %a{:href => 'https://github.com/TylerBrabham'} Tyler Brabham
        %li Final project for CS184: Computer Graphics
        %li
          Simulation using smoothed particle hydrodynamics, marching cubes, and ray marching
        %li Written in C++ with OpenGL, FreeImage, and Glut
      %p
        %a.outline-link{:href => ''} View more graphics projects
    .span4
      %iframe{:width => '640', :height => '360', :src => 'http://www.youtube.com/embed/oogV7GYl630', :frameborder => '0', :allowfullscreen => ''}

  .row-fluid
    .span5.offset1
      %h2 Gordys Bakery
      %ul
        %li
          website initially created with Adobe GoLive, Photoshop, and Illustrator and now being maintained with HTML/CSS/JS
        %li optimized for search engines
        %li integrated website with social networks, including a facebook widget
        %li set up google analytics to track web traffic
    .span3.offset1
      %img{:src => "images/gordy_fullsize.jpg", :alt => "Gordy's Bakery Site"}
